@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
<div class="modal fade" id="EditMultiSelectModal" tabindex="-1" style="display:none;" role="dialog" aria-labelledby="EditMultiSelectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span>MultiSelect</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div id="multiselectcontainer" name="multiselectcontainer"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="EditMultiSelectConfirmCancel" class="btn btn-outline-danger" type="button" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.CancelText)</button>
                <button id="EditMultiSelectConfirmSave" class="btn btn-primary" type="button">@Html.GetLocalizedText(LocalizationsConstants.SaveText)</button>
            </div>
        </div>
    </div>
</div>