@using Group.Salto.Common.Constants.MailTemplate
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.ServiceLibrary.Helpers
@using Group.Salto.SOM.Web.Models.MailTemplate
@using Group.Salto.Controls.Table

@model ResultViewModel<MailTemplateListViewModel>

@{
    var title = Html.GetLocalizedText(MailTemplateConstant.MailTemplateTitleEdit);
    ViewData["Title"] = title;
}

<div class="row justify-content-center">
    <div class="col-12 col-sm-6">
        <div class="card card-accent-warning">
            <div class="card-header">
                <h2> @title &nbsp;<small class="text-muted">#@Model.Data.MailTemplate.Id</small></h2>
            </div>
            <div class="card-body">
                    <form asp-controller="MailTemplate" asp-action="Edit" method="post" class="form-horizontal">
                        <partial name="_MailTemplateGenericTab" model="Model?.Data.MailTemplate" />
                    </form>
                </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="~/js/MailTemplate/MailTemplatesDetail.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                 app.MailTemplate.detail.Init();
            });
        })(jQuery);
    </script>
}