@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.FinalClients
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.SOM.Web.Models.FinalClients;
@using Group.Salto.SOM.Web.Models.Contracts;
@model FinalClientsEditViewModel

<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item finalClient-tab" id="nav-finalClients-list">
                <a class="nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">@Html.GetLocalizedText(FinalClientsConstants.FinalClientsGeneralTab)</a>
            </li>
            @if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Edit)
            {
                <li class="nav-item finalClient-tab" id="nav-calendar-li">
                    <a onclick="setTimeout(function(){ loadScheduler(); }, 500);" class="nav-link" id="nav-calendar-tab" data-toggle="tab" href="#nav-calendar" role="tab" aria-controls="nav-calendar" aria-selected="false">@Html.GetLocalizedText(FinalClientsConstants.FinalClientsCalendarTab)</a>
                </li>            
                <li class="nav-item finalClient-tab" id="nav-contacts-li">
                    <a class="nav-link" id="nav-contacts-tab" data-toggle="tab" href="#nav-contacts" role="tab" aria-controls="nav-contacts" aria-selected="false">@Html.GetLocalizedText(FinalClientsConstants.FinalClientsContactsEditTitle)</a>
                </li>
            }
        </ul>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                <partial name="_finalClientsForm" for="FinalClientsDetailViewModel" />
            </div>
            @if (Model.ModeActionType == Group.Salto.Common.Enums.ModeActionTypeEnum.Edit)
            {
                <div class="tab-pane fade" id="nav-calendar" role="tabpanel" aria-labelledby="nav-calendar-tab">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="btn btn-success" data-toggle='modal' data-target='#AddCalendarModal'>
                                <span asp-localized-key="@FinalClientsConstants.FinalClientsTabCalendarButtonCreateCalendar"></span>
                            </button>
                        </div>
                        <partial name="_Scheduler" />
                    </div>
                </div>            
                <div class="tab-pane fade" id="nav-contacts" role="tabpanel" aria-labelledby="nav-contacts-tab">
                    <partial name="_Contacts" for="FinalClientsDetailViewModel.Contacts" />
                </div>
            }
        </div>
    </div>
</div>
<br />