@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.SiteUser
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.SiteUser
@using Group.Salto.SOM.Web.Models.Result
@model ResultViewModel<SiteUserDetailViewModel>
@{
    var title = @Html.GetLocalizedText(SiteUserConstants.SiteUserEditPageTitle);
    ViewData["Title"] = title;
}
<div class="row justify-content-center">
    <div class="col-12 col-sm-9">
        <div class="card card-accent-warning">
            <div class="card-header">
                <h2><span asp-localized-key="@SiteUserConstants.SiteUserEditPageTitle"></span>&nbsp;<span class="text-muted">#@Model.Data.IdUser</span></h2>
            </div>
            <div class="card-body">
                <form asp-controller="SiteUser" asp-action="Edit" method="post" class="form-horizontal">
                    <partial name="_SiteUserForm" model="Model?.Data" />
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/js/Common/constants.js"></script>
    <script src="~/js/Common/config.js"></script>
    }