@model IList<Group.Salto.SOM.Web.Models.Modules.ModuleViewModel>

<div class="row">
    <div class="col-12">
        <div class="input-group mb-2">
            <select asp-items="@(new SelectList(Model,"Id","Description"))" id="cmbModulesCustomer" class="custom-select"></select>
            <div class="input-group-append">
                <button type="button" class="btn  btn-green-sm" id="btn-add-modules">
                    <span class="fa fa-plus fa-lg text-primary"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ul class="list-group list-Modules"></ul>
    </div>
</div>
