@using Group.Salto.SOM.Web.Models.Origins
@using Group.Salto.SOM.Web.Models.Result;
@using Group.Salto.SOM.Web.Extensions;
@using Group.Salto.Common.Constants;
@using Group.Salto.Common.Constants.Origins;
@using Group.Salto.Common.Enums

@model ResultViewModel<OriginDetailViewModel>

@{
    var title = Html.GetLocalizedText(OriginsConstants.OriginsCreatePageTitle);
    ViewData["Title"] = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var claimUserConfigurationId = ((System.Security.Claims.ClaimsIdentity)User.Identity).GetSpecificClaim(AppIdentityClaims.UserId);
}

<div class="row justify-content-center">
    <div class="col-12 col-sm-6">
        <div class="card card-accent-warning">
            <div class="card-header">
                <h2 asp-localized-key="@OriginsConstants.OriginsCreatePageTitle"></h2>
            </div>
            <div class="card-body">
                <form asp-controller="Origins" asp-action="Create" method="post" class="form-horizontal">
                    <partial name="_OriginsForm" model="Model?.Data" />
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/Common/authorization.js"></script>

    <script>
        (function($) {
            $(document).ready(function() {
                var saveCreate = @Html.CanDoAction(claimUserConfigurationId, ActionGroupEnum.Origin, ActionEnum.Create).ToString().ToLower();
                app.common.authorization.disable("btnSaveOrigins", saveCreate);
            });
        })(jQuery);
    </script>
}