@using Group.Salto.SOM.Web.Models.WorkOrder
@using Group.Salto.Common.Constants.WorkOrder
@using Group.Salto.SOM.Web.Extensions

<h3 asp-localized-key="@WorkOrderConstants.WorkOrderAssetsHistoric"></h3>

<div class="table-responsive">
    <div id="gridboxAssets"></div>
</div>