@using Group.Salto.SOM.Web.Models.WorkOrder
@using Group.Salto.Common.Constants.WorkOrder
@using Group.Salto.SOM.Web.Extensions
@model AssetsDetailViewModel

<div class="row">
    <div class="col-12 col-sm-6">
        <partial name="_AssetsForm" for="@Model" />
        <partial name="_AssetWorkOders" />
    </div>
    <div class="col-12 col-sm-6">
        <div id="assetServices-placeholder"></div>
    </div>
</div>