@using Group.Salto.Common.Constants.WorkOrderFilter
@using Group.Salto.SOM.Web.Extensions
<li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group">
        <span class="input-group-text">@Html.GetLocalizedText(WorkOrderFilterConstants.WorkOrderFilterCurrentView)</span>
        <div class="input-group">
            <select class="custom-select" id="cmbViewConfiguration" aria-label="Example select with button addon">
            </select>
            <div class="input-group-append">
                <button id="editViewConfiguration" class="btn btn-outline-secondary" type="button">@Html.GetLocalizedText(WorkOrderFilterConstants.WorkOrderFilterEditView)</button>
            </div>
        </div>
    </div>
</li>