<div class="row">
    <div class="col-12 col-sm-8 pl-0">
        <div id="gridboxBill" class="w-100"></div>
    </div>
    <div class="col-12 col-sm-4 p-0">
        <div id="gridboxBillLine" class="w-100"></div>
    </div>
</div>
<div class="row">
    <div class="col p-0">
        <div id="nodataBill"></div>
    </div>
</div>