<div class="content">
    <div class="row">
        <div class="col-12 p-0">
            <div id="gridboxSubPetitions" class="table-responsive w-100"></div>
            <div id="nodataSubPetitions"></div>
        </div>
    </div>
</div>