
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div id="block-forgot">
    <div id="forgot-form" class="card">
        <div class="card-body">
            <div class="text-center">
                <span class=" font-5xxl"><i class="icon-check text-success"></i></span>
                <h2 class="card-title text-center">Success</h2>
                <p class="card-text">You have successfully changed your password!</p>
                <div class="panel-body">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-lg btn-success btn-block" asp-controller="Account"  asp-action="Login">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>