@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.SOM.Web.Models.Account

@model ResultViewModel<ResetPasswordViewModel>

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@section Styles{
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
}

<div id="block-forgot">
    <div id="reset-form" class="card">
        <div class="card-body">
            <div class="text-center">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <h2 class="card-title text-center" asp-localized-key="ResetPasswordFormTextTitle"></h2>
                <p class="card-text" asp-localized-key="ResetPasswordFormTextSubTitle"></p>
                <div class="panel-body">
                    <form asp-controller="Account" id="register-form" autocomplete="off" class="form" asp-action="ResetPassword" method="post">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-asterisk"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <input asp-for=Data.Password class="form-control" type="password" placeholder="@Html.GetLocalizedText(AccountConstants.ResetPasswordPasswordFormPlaceholder)" />
                                <span asp-validation-for="Data.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-asterisk"></i>
                                </span>
                            </div>
                            <div class="col-sm-8">
                                <input asp-for=Data.ConfirmPassword class="form-control" type="password" placeholder="@Html.GetLocalizedText(AccountConstants.ResetPasswordConfirmPasswordFormPlaceholder)" />
                                <span asp-validation-for="Data.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="@Html.GetLocalizedText(AccountConstants.ResetPasswordButtonResetPassword)" type="submit">
                            </div>
                        </div>
                        <input asp-for=Data.UserId class="form-control" type="hidden" />
                        <input asp-for=Data.Token class="form-control" type="hidden" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>