@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Client
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.SOM.Web.Models.Client;
@model ClientDetailViewModel

<div class="row">
    <div class="col-12">
        <ul class="nav nav-tabs" id="nav-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">@Html.GetLocalizedText(ClientsConstants.ClientGeneralTab)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav-bank-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-bank" aria-selected="false">@Html.GetLocalizedText(ClientsConstants.ClientBankTab)</a>
            </li>
        </ul>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                <partial name="_GeneralForm" for="ClientGeneralDetail" />
            </div>
            <div class="tab-pane fade" id="nav-bank" role="tabpanel" aria-labelledby="nav-bank-tab">
                <partial name="_BankForm" for="ClientBankDetail" />
            </div>
        </div>
    </div>
</div>
<br />