@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.PaymentMethod
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.PaymentMethod

@model PaymentMethodViewModel

<input type="hidden" asp-for="Id" />

<div class="form-group row">
    <label class="col-md-3 col-form-label" asp-for="Name"><span asp-localized-key="@PaymentMethodConstants.PaymentMethodGridTheadName"></span><span class="required">*</span></label>
    <div class="col-md-9">
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</div>
<div class="form-group row text-right">
    <div class="col-12">
        <button type="reset" class="btn btn-outline-danger" onclick="location.href = '@Url.Action("Index", "PaymentMethod")'">
            <span asp-localized-key="ActionsDetailsBtnCancel"></span>
        </button>
        <input id="btnSavePaymentMethod" type="submit" class="btn btn-success" value="@Html.GetLocalizedText(LocalizationsConstants.SaveText)" />
    </div>
</div>