@using Group.Salto.Common.Constants.Permissions
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Permissions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.Common.Enums
@using Group.Salto.Common.Constants
@model ResultViewModel<PermissionDetailViewModel>
@{
    var title = @Html.GetLocalizedText(PermissionsConstants.PermissionsEditPageTitle);
    ViewData["Title"] = title;
    var claimUserConfigurationId = ((System.Security.Claims.ClaimsIdentity)User.Identity).GetSpecificClaim(AppIdentityClaims.UserId);
}

<h1><span asp-localized-key="@PermissionsConstants.PermissionsEditPageTitle"></span>&nbsp;<span class="text-muted">#@Model.Data.Id</span></h1>
<form asp-controller="Permissions" asp-action="Edit" method="post" class="form-horizontal">
    <partial name="_PermissionForm" model="Model?.Data" />
</form>

@section scripts {
    <script src="~/js/MultiSelect.js"></script>
    <script src="~/js/Common/authorization.js"></script>
    <script language="javascript">
        (function ($) {
            $(document).ready(function () {
                app.multiselect.Init('@Model?.Data.WorkOrderCategories.Name');
                app.multiselect.Init('@Model?.Data.Queues.Name');
                app.multiselect.Init('@Model?.Data.Tasks.Name');
                app.multiselect.Init('@Model?.Data.People.Name');
                app.multiselect.Init('@Model?.Data.PredefinedServices.Name');
                app.multiselect.Init('@Model?.Data.Projects.Name');

                var saveEdit = @Html.CanDoAction(claimUserConfigurationId, ActionGroupEnum.Permisions, ActionEnum.Update).ToString().ToLower();
                app.common.authorization.disable("btnSavePermission", saveEdit);
            });
        })(jQuery);
    </script>
}