@using Group.Salto.SOM.Web.Models.ExpenseType;
@using Group.Salto.SOM.Web.Models.Result;
@using Group.Salto.SOM.Web.Extensions;
@using Group.Salto.Common.Constants;
@using Group.Salto.Common.Constants.ExpenseType;
@using Group.Salto.Common.Enums;

@model ResultViewModel<ExpenseTypeViewModel>

@{
    ViewData["Title"] = @Html.GetLocalizedText(ExpenseTypeConstants.ExpenseTypeCreateTitle);
    Layout = "~/Views/Shared/_Layout.cshtml";
    var claimUserConfigurationId = ((System.Security.Claims.ClaimsIdentity)User.Identity).GetSpecificClaim(AppIdentityClaims.UserId);
}

<div class="row justify-content-center">
    <div class="col-12 col-sm-6">
        <div class="card card-accent-warning">
            <div class="card-header">
                <h2 asp-localized-key="ExpenseTypeCreateTitle"></h2>
            </div>
            <div class="card-body">
                <form asp-controller="ExpenseType" asp-action="Create" method="post" class="form-horizontal">
                    <partial name="_ExpenseTypeForm" model="Model?.Data" />
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/Common/authorization.js"></script>

    <script>
        (function($) {
            $(document).ready(function() {
                var saveCreate = @Html.CanDoAction(claimUserConfigurationId, ActionGroupEnum.ExpenseTypes, ActionEnum.Create).ToString().ToLower();
                app.common.authorization.disable("btnSaveExpenseType", saveCreate);
            });
        })(jQuery);
    </script>
}