
@{
    ViewData["Title"] = "Global";
}

<h2>Global</h2>
<table class="table-condensed">
    @for(int i = 0; i < ViewBag.lado; i++)
    {
    <tr>
        @for (int j = 0; j < ViewBag.lado; j++)
        {
            <td>@ViewBag.tabla[i,j]</td>
        }
        </tr>
    }
</table>

