.bg-label-detail {
    background-color: rgb(2, 119, 189);
    color: white;
}

p:blank, p:empty {
    display: none;
}

.som-panel {
    border: 1px solid #f1f1f1;
    background-color: #f8f9fa;
}

.som-panel-title {
    padding: 0.4rem .8rem;
    text-align: left;
    font-family: "Roboto", Helvetica, Roboto, Arial, sans-serif;
    background-color: rgb(219,219,219);
}

.som-panel-text p {
    padding: 0.4rem .8rem;
    margin-bottom: 0;
    text-align: left;
    background-color: rgb(248,249,250);
}

#combo-task_container .btn {
    color: #fff;
}

    #combo-task_container .btn.active,
    #combo-task_container .btn:hover {
        background-color: #1985ac;
        border-color: #187da0;
    }


/*header details*/
#woId {
    grid-area: woId;
}

#labelRefClient {
    grid-area: labelRefClient;
}

#woStatus {
    grid-area: woStatus;
}

#woExternalStatus {
    grid-area: woExternalStatus;
}

#woQueue {
    grid-area: woQueue;
    max-height: 2.188rem;
}

#woSummary {
    grid-area: woSummary;
    padding: 0 !important;
}

#woHeaderDetails {
    display: grid;
    grid-gap: 0.625rem;
    grid-template-columns: [col-start] 1fr [col-end];
    grid-template-areas: "woId" "labelRefClient" "woStatus" "woExternalStatus" "woQueue" "woSummary";
    grid-auto-rows: auto;
}

    #woHeaderDetails > div {
        padding: .3em .8em .2em;
        margin: 0;
    }

    #woHeaderDetails label {
        font-size: 1.09375rem;
    }

    #woHeaderDetails .alert label {
        margin: 0;
    }

    #woHeaderDetails label strong {
        white-space: nowrap;
    }

/*Tab detail*/
#idot {
    grid-area: idot;
}

#refClient {
    grid-area: refClient;
}

#project {
    grid-area: project;
}

#category {
    grid-area: category;
}

#typeot {
    grid-area: typeot;
}

#clientsite {
    grid-area: clientsite;
}

#sitecode {
    grid-area: sitecode;
}

#sitename {
    grid-area: sitename;
}

#sitephone1 {
    grid-area: sitephone1;
}

#address {
    grid-area: address;
}

#asset {
    grid-area: asset;
}

#assetphone {
    grid-area: assetphone;
}

#actdate {
    grid-area: actdate;
}

#sladate {
    grid-area: sladate;
}

#brandurl {
    grid-area: brandurl;
}

#categoryurl {
    grid-area: categoryurl;
}

#infoOt {
    grid-area: infoOt;
}

#details {
    grid-area: details;
}

#infoOt, #details {
    background-color: #fff;
    border-color: #fff;
    border-bottom: 1px solid #f1f1f1;
}

#summary-container {
    display: grid;
    grid-gap: 0.625rem;
    grid-template-columns: 1fr;
    grid-template-areas: 'idot' 'refClient' 'typeot' 'project' 'category' 'clientsite' 'sitecode' 'sitename' 'sitephone1' 'address' 'asset' 'assetphone' 'actdate' 'sladate' 'brandurl' 'categoryurl' 'infoOt' 'details';
    justify-items: stretch;
    align-items: stretch;
}

#infoOt, #details {
    display: grid;
}

/*Tab detail Assets*/
#serialNumber {
    grid-area: serialNumber;
}

#stockNumber {
    grid-area: stockNumber;
}

#assetNumber {
    grid-area: assetNumber;
}

#status {
    grid-area: status;
}

#brand {
    grid-area: brand;
}

#model {
    grid-area: model;
}

#maintenance {
    grid-area: maintenance;
}

#maintenanceStartDate {
    grid-area: maintenanceStartDate;
}

#maintenanceEndDate {
    grid-area: maintenanceEndDate;
}

#standardWarranty {
    grid-area: standardWarranty;
}

#standardWarrantyStartDate {
    grid-area: standardWarrantyStartDate;
}

#standardWarrantyEndDate {
    grid-area: standardWarrantyEndDate;
}

#manufacturerWarranty {
    grid-area: manufacturerWarranty;
}

#manufacturerWarrantyStartDate {
    grid-area: manufacturerWarrantyStartDate;
}

#manufacturerWarrantyEndDate {
    grid-area: manufacturerWarrantyEndDate;
}

#aObservation {
    grid-area: aObservation;
}

#aRepair {
    grid-area: aRepair;
}

aService {
    grid-area: aService;
}

aStatus {
    grid-area: aStatus;
}

aResponsibleName {
    grid-area: aResponsibleName;
}

.assets__data {
    display: grid;
    grid-gap: 1.25rem;
    grid-template-columns: 1fr;
    grid-template-areas: 'serialNumber' 'stockNumber' 'assetNumber' 'status' 'brand' 'model';
    justify-items: stretch;
    align-items: stretch;
    margin-bottom: 1.25rem;
}

.assets__date {
    display: grid;
    grid-gap: 0.625rem;
    grid-template-columns: 1fr;
    grid-template-areas: 'maintenance' 'maintenanceStartDate' 'maintenanceEndDate' 'standardWarranty' 'standardWarrantyStartDate' 'standardWarrantyEndDate' 'manufacturerWarranty' 'manufacturerWarrantyStartDate' 'manufacturerWarrantyEndDate';
    justify-items: stretch;
    align-items: stretch;
    padding: 0.625rem;
}
/*tab forms*/
#WorkOrderFormNum {
    grid-area: FormNum;
}

#idService {
    grid-area: idService;
}

#creationDate {
    grid-area: creationDate;
}

#statusServices {
    grid-area: statusServices;
}

#technician {
    grid-area: technician;
}

#observation {
    grid-area: observation;
}

#extrasField-container {
    grid-area: extraField;
}

    #extrasField-container > div {
        max-height: 25rem;
    }

#form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "FormNum idService" "creationDate creationDate" "statusServices statusServices" "technician technician" "observation observation" "extraField extraField";
    grid-gap: 0.625rem;
    padding: 0.625rem;
    border: 1px solid #dbdbdb;
    margin: 0.625rem;
}

.som-signature img {
    max-width: 100px;
}

/*tab operations*/
#operations {
    display: grid;
    grid-gap: 0.625rem;
    grid-template-columns: repeat(12, 1fr);
}

#operations_TimeResponse {
    grid-column: 1/ span 3;
}

#operations_TimeResolution {
    grid-column: 4 / span 3;
}

.operation_PenaltyResponse {
    grid-column: 7 / span 3;
}

.operation_PenaltyResolution {
    grid-column: 10 / span 3;
}
/*Drag and drop - WO category tab canlendar control*/
div.dhx_list {
    min-height: 100px;
}

/*WO*/
#collapseAdvancedFilter table .thead-som th {
    padding: 5px 10px;
}

#woSummary .table {
    margin-bottom: 0;
}

.aside-menu-wo {
    width: 220px;
}

html:not([dir=rtl]) .aside-menu-lg-show.aside-menu-fixed.wo .app-footer, html:not([dir=rtl]) .aside-menu-lg-show.aside-menu-fixed.wo .main {
    margin-right: 205px;
}

/*******Modal WO Summary********/
#modalSummary .row {
    margin-right: 0;
    margin-left: 0;
}

#modalSummary .form-group {
    margin-bottom: inherit;
}

#modalSummary label {
    margin-bottom: .2rem;
}

#modalSummary .title {
    background-color: #f0f3f5;
    padding: .3rem;
    font-weight: bolder;
    text-align: center;
    border-bottom: 1px solid var(--blue);
}

#modalSummary .content {
    background-color: #f8f9fa;
    padding: .2rem .3rem;
}

/*Perform Task*/
#extraFieldValues-Container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: .5rem;
    background-color: #f0f3f5;
}

@media (min-width: 576px) {
    #woHeaderDetails {
        grid-template-columns: [col-start] 1fr 1fr [col-end];
        grid-template-areas: "woId labelRefClient" "woStatus woExternalStatus" "woQueue woQueue" "woSummary woSummary";
    }

    #typeot {
        display: grid;
        grid-template-rows: auto 1fr;
        justify-items: stretch;
        align-items: stretch;
    }

        #typeot .som-panel-text {
            display: grid;
        }
}

@media (max-width: 767.98px) {
    #summary-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'idot typeot' 'refClient typeot' 'project project' 'category category' 'clientsite sitecode' 'sitename sitename' 'sitephone1 sitephone1' 'address address' 'asset asset' 'assetphone assetphone' 'actdate sladate' 'brandurl brandurl' 'categoryurl categoryurl' 'infoOt infoOt' 'details details';
    }
}

@media (min-width: 768px) {
    /*header details*/
    #woId {
        grid-column: col-start / span 3;
    }

    #labelRefClient {
        grid-column: 4 / span 3;
    }

    #woStatus {
        grid-column: 7 / span 3;
    }

    #woExternalStatus {
        grid-column: 10 / span 3;
    }

    #woQueue {
        grid-column: col-start / span 6;
    }

    #woSummary {
        grid-column: 7 / span 6;
    }

    #woHeaderDetails {
        grid-template-columns: repeat(12, [col-start]minmax( 0,1fr) [col-end]);
        grid-template-areas: "woId labelRefClient woStatus woExternalStatus" "woQueue woQueue woSummary woSummary";
    }
    /*tabs details*/
    #summary-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'idot refClient typeot' 'project project typeot' 'category category category' 'clientsite sitecode sitephone1' 'sitename sitename sitename' 'address address address' 'asset asset asset' 'assetphone actdate sladate' 'brandurl brandurl brandurl' 'categoryurl categoryurl categoryurl' 'infoOt infoOt infoOt' 'details details details';
    }

    #infoOt, #details {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto 1fr;
    }

        #infoOt .som-panel-title,
        #details .som-panel-title {
            grid-column: 1 / span 2;
            margin-right: 1.25rem;
        }

        #infoOt .som-panel-text,
        #details .som-panel-text {
            grid-column: 1 / span 8;
            grid-row: 2 / auto;
        }
}

@media (max-width: 991.98px) {
}

@media (min-width: 992px) {

    #summary-container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: 'idot refClient project project project category category typeot' 'clientsite clientsite sitecode sitename sitename sitename sitename typeot' 'sitephone1 sitephone1 address address address address address address' 'asset asset assetphone assetphone actdate actdate sladate sladate' 'brandurl brandurl brandurl brandurl categoryurl categoryurl categoryurl categoryurl' 'infoOt infoOt infoOt infoOt infoOt infoOt infoOt infoOt' 'details details details details details details details details';
    }

    .assets__data {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'serialNumber stockNumber assetNumber' 'status brand model';
    }

    .assets__date {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'maintenance maintenanceStartDate maintenanceEndDate' 'standardWarranty standardWarrantyStartDate standardWarrantyEndDate' 'manufacturerWarranty manufacturerWarrantyStartDate manufacturerWarrantyEndDate';
    }

    #extrasField-container {
        grid-row: 1 / 5;
    }

    #form-container {
        grid-template-columns: repeat(12,1fr);
        grid-template-areas: "FormNum FormNum idService idService creationDate creationDate extraField extraField extraField extraField extraField extraField" "statusServices statusServices technician technician technician technician extraField extraField extraField extraField extraField extraField" "observation observation observation observation observation observation extraField extraField extraField extraField extraField extraField";
    }
}

@media (min-width: 1200px) {
}

.label {
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    margin-bottom: auto;
    padding: 0.25rem 0.5rem 0.25rem;
    font-size: 0.6875rem;
    background-color: #2ba6cb;
    color: #fff;
}

    .label.radius {
        border-radius: 3px
    }

    .label.round {
        border-radius: 1000px
    }

    .label.alert {
        background-color: #c52828;
        color: #fff
    }

    .label.warning {
        background-color: #ef6c00;
        color: #fff;
    }

    .label.success {
        background-color: #43a247;
        color: #fff;
    }

    .label.secondary {
        background-color: #3474ba;
        color: #fff
    }

    .label.info {
        background-color: #1f96c4;
        color: #fff
    }

/*tab forms*/
.som-signature img {
    max-width: 100px;
}
