#availableColumnsContainer,
#selectedColumnsContainer {
    position: relative;
    height: 400px;
    overflow: auto;
    border: 1px solid #E4E7EA;
    background-color: #F0F3F5;
    padding: .5rem;
}

.dhx_list_item.dhx_list_d-and-d_item {
    height: auto !important;
    margin-bottom: .2rem !important;
    border: 1px solid #dadada;
    background-color: #ffffff;
}

.dhx_list_item.dhx_list_d-and-d_item {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.dhx_grad_over {
    cursor: move;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.dhx_list_item.dhx_list_d-and-d_item i:hover {
    cursor: pointer;
    color: green;
}

.dhx_list_item.dhx_list_d-and-d_item_selected {
    background-color: #dadada;
    height: auto !important;
    margin-bottom: .2rem !important;
}
