@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Project
@using Group.Salto.SOM.Web.Models.Projects
@using Group.Salto.SOM.Web.Extensions
@model GenericDetailViewModel
<div class="row">
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label><span asp-localized-key="@ProjectConstants.ProjectGenericBackOfficeManagerText"></span></label>
            <input asp-for="BackOfficeManager" class="form-control" placeholder="@Html.GetLocalizedText(ProjectConstants.ProjectGenericBackOfficeManagerText)" />
            <span asp-validation-for="BackOfficeManager" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label><span asp-localized-key="@ProjectConstants.ProjectGenericTechnicalSupportText"></span></label>
            <input asp-for="TechnicalSupport" class="form-control" placeholder="@Html.GetLocalizedText(ProjectConstants.ProjectGenericTechnicalSupportText)" />
            <span asp-validation-for="TechnicalSupport" class="text-danger"></span>
        </div>
    </div>
</div>