@using Group.Salto.Common.Constants.PredefinedServices
<div class="col-12">
    <div id="container">
        <div id="@PredefinedServicesConstants.PredefinedServicesContainer"></div>
    </div>
</div>