@using Group.Salto.SOM.Web.Models.Projects
@using Group.Salto.Common.Constants.Project
@using Group.Salto.SOM.Web.Extensions
@model GenericDetailViewModel
<div class="row">
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label><span asp-localized-key="@ProjectConstants.ProjectTechniciansDefaultTechnicianCodeText"></span></label>
            <input asp-for="DefaultTechnicianCode" class="form-control" placeholder="@Html.GetLocalizedText(ProjectConstants.ProjectTechniciansDefaultTechnicianCodeText)" />
            <span asp-validation-for="DefaultTechnicianCode" class="text-danger"></span>
        </div>
    </div>
</div>
<hr />
<div class="col-12">
    <div id="container">
        <div id="TechniciansContainer"></div>
    </div>
</div>