@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Sites
@using Group.Salto.SOM.Web.Models.Sites
@using Group.Salto.SOM.Web.Extensions
@model GenericDetailViewModel

<div class="row">
    <div class="col-12">
        <div id="container">
            <div id="ContactsContainer"></div>
        </div>
    </div>
</div>