@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Module
@using Group.Salto.SOM.Web.Models.Modules
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Result
@using Group.Salto.Common.Enums

@model ResultViewModel<ModuleDetailViewModel>
@{
    var title = @Html.GetLocalizedText(ModuleConstants.ModuleEditPageTitle);
    ViewData["Title"] = title;
    var claimUserConfigurationId = ((System.Security.Claims.ClaimsIdentity)User.Identity).GetSpecificClaim(AppIdentityClaims.UserId);
}

<h1><span asp-localized-key="@ModuleConstants.ModuleEditPageTitle"></span>&nbsp;<span class="text-muted">#@Model.Data.Id</span></h1>
<form asp-controller="Module" asp-action="Edit" method="post" class="form-horizontal">
    <partial name="_ModuleForm" model="Model?.Data" />
</form>

@section scripts {
    <script src="~/js/MultiSelect.js"></script>
    <script src="~/js/Common/authorization.js"></script>
    <script language="javascript">
        (function ($) {
            $(document).ready(function () {
                app.multiselect.Init('@Model?.Data.ActionGroups.Name');

                var saveEdit = @Html.CanDoAction(claimUserConfigurationId, ActionGroupEnum.Modules, ActionEnum.Update).ToString().ToLower();
                app.common.authorization.disable("btnSaveModule", saveEdit);
            });
        })(jQuery);
    </script>
}
