@using Group.Salto.Common.Constants.ExpenseTicket
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Models.Expense

@model ExpenseDetailsViewModel

@if (Model != null && Model.Id != 0)
{
    <input type="hidden" class="form-control" asp-for="Id" readonly />
}

<div class="modal-header mb-3">
    <h5 class="modal-title" id="rejectedTitle"><span asp-localized-key="ExpenseTicketValidation"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="row">
    <div class="col">
        <label asp-localized-key="@ExpenseTicketConstants.ExpenseTicketOption"></label>
    </div>
</div>

<input type="hidden" asp-for="Description" />
<input type="hidden" asp-for="Amount" />
<input type="hidden" asp-for="ExpenseTypeId" />
<input type="hidden" asp-for="PaymentMethodId" />
<input type="date" hidden asp-for="Date" />
<input type="date" hidden asp-for="ValidationDate" />
<input type="hidden" asp-for="ExpenseStatusId" />
<input type="hidden" asp-for="StatusGuids" />
<input type="hidden" asp-for="ExpenseStatus" />