@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="unauthorized" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">@Html.GetLocalizedText(LocalizationsConstants.ForbiddenTitle)</h1>
        <p class="lead">@Html.GetLocalizedText(LocalizationsConstants.ForbiddenText)</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index","Home")" role="button">@Html.GetLocalizedText(LocalizationsConstants.ForbiddenLink)</a>
    </div>
</div>