@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Enums;
@using System.Security.Claims;
@using Group.Salto.Common.Constants;
@{
    var claimUserName = ((System.Security.Claims.ClaimsIdentity)User.Identity).GetSpecificClaim(ClaimTypes.Name);
}

<div class="main-menu">
    <div id="menu">
        <button id="menu-burguer-movil" class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a id="menu-brand" class="navbar-brand" href="~/Home/Index">
            <i class="som-icon icon-som-logo_som"></i>
        </a>
        <button id="menu-burger" class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div id="logo-company" class="d-none">
        <div id="container-logo-empresa" class="nav navbar-nav m-auto">
            <img src="~/images/brand/logo-salto.png" alt="logo empresa salto" width="140" />
        </div>
    </div>
    <div id="search-box">
        <form asp-action="Index" asp-controller="WorkOrder" method="get" id="workordersearchform">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-localized-key="GeneralHeaderSearchBy"></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" id="searchworkorder" href="#" asp-localized-key="GeneralHeaderSearchWorkOrder"></a>
                        <a class="dropdown-item" id="searchlocation" href="#" asp-localized-key="GeneralHeaderSearchLocation"></a>
                        <a class="dropdown-item" id="searchactive" href="#" asp-localized-key="GeneralHeaderSearchActive"></a>
                    </div>
                </div>
                <input id="SearchString" name="SearchString" type="text" class="form-control">
                <input id="SearchType" name="SearchType" type="hidden" class="form-control">
                <div class="input-group-append">
                    <button id="workordersearch" type="submit" class="btn btn-outline-secondary"><i class="icon-magnifier"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div id="user-block">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item d-none">
                <a class="nav-link" href="#">
                    <i class="icon-bell"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link color-som font-weight-bold" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    @claimUserName
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>@Html.GetLocalizedText(MenuLocalizationConstants.MainMenuAccountAccount)</strong>
                    </div>
                    <a class="dropdown-item" asp-area="" asp-controller="UserOptions" asp-action="Details" asp-route-view="base-breadcrumb">
                        <i class="fa fa-user"></i> @Html.GetLocalizedText(MenuLocalizationConstants.MainMenuAccountProfile)
                    </a>
                    <div class="divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="LogOff" asp-route-view="base-breadcrumb">
                        <i class="fa fa-lock"></i> @Html.GetLocalizedText(MenuLocalizationConstants.MainMenuAccountLogout)
                    </a>
                </div>
            </li>
            <li class="ml-2">
                <div id="side-menu" class="d-none">
                    <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
                        <i class="icon-options-vertical icons font-2xl"></i>
                    </button>
                    <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
                        <i class="icon-options-vertical icons font-2xl"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>