@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
<div class="row">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <span class="fa fa-search fa-2x mb-3"></span>
            <h3>@Html.GetLocalizedText(LocalizationsConstants.NoRecords)</h3>
        </div>
    </div>
</div>