@model Group.Salto.Controls.Table.Filter.IPagedFilter
<div class="col-xs-6 non-padding">
    <input type="hidden" id="pager-page" value="@Model.Page" name="Page" />
    <input type="hidden" id="pager-size" value="@Model.Size" name="Size" />
</div>
