@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>CRUD de comics</h2>
        <ul>
            <li>Una página para administrar tu colección de comicd</li>
            <li>Creada a mano por minions adiestrados</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Opciones</h2>
        <ul>
            <li><a asp-area="" asp-controller="Categorias" asp-action="Index">Categorías</a></li>
            <li><a asp-area="" asp-controller="Autors" asp-action="Index">Autores</a></li>
            <li><a asp-area="" asp-controller="Comics" asp-action="Index">Comics</a></li>
        </ul>
    </div>
   
</div>
