@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.People
<div id="container">
    <div id="CostContainer"></div>
</div>

<div class="modal fade" id="deleteconfirmationmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body text-center">
				<p>@Html.GetLocalizedText(PeopleConstants.PeopleCostDeleteMessage)</p>
			</div>
			<div class="modal-footer">
				<button id="peopleCostConfirmationModalCancel" class="btn btn-outline-danger" type="button" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.Close)</button>
                <button id="peopleCostConfirmationModalSave" class="btn btn-primary" type="button" data-dismiss="modal">@Html.GetLocalizedText(LocalizationsConstants.Confirm)</button>
			</div>
		</div>
	</div>
</div>