@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions

<div id="sideBar-Menu" class="tab-content bg-som h-100">
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-som">
                    <a id="exporttoexcel" class="nav-link text-white" href="#">
                        <i class="fa fa-file-excel-o mr-2"></i> @Html.GetLocalizedText(LocalizationsConstants.ExportToExcel)
                    </a>
                </li>
                <li class="list-group-item bg-som">
                    <a id="exportalltoexcel" class="nav-link text-white" href="#">
                        <i class="fa fa-file-excel-o mr-2"></i> @Html.GetLocalizedText(LocalizationsConstants.ExportAllToExcel)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>