@using Group.Salto.ServiceLibrary.Common.Dtos.Base
@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Flows
@using Group.Salto.SOM.Web.Extensions

@model BaseNameIdDto<int>
<div class="row billingruleitems-row pt-2">
    <h4><span asp-localized-key="@FlowsConstants.FlowsBillingRuleItemsTitle" class="badge bg-info text-white"></span></h4>
    <div class="col-12 p-0" id="container-billingruleitems-@Model.Id" data-hasdata="false">
        <partial model="Model" name="_BillingRuleItem" />
        <div class="collaps-icons float-right d-flex align-items-center text-right mr-2">
            <a id="bri-item-add-btn" href="#" class="mr-2"><i class="fa fa-plus"></i></a>
        </div>
    </div>
</div>