@using Group.Salto.ServiceLibrary.Common.Dtos.Base
@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Flows
@using Group.Salto.SOM.Web.Extensions

@model BaseNameIdDto<int>

<div class="row conditions-content mb-3" id="t-@Model.Id-Pre">
    <div class="col-1 item-or">
        <span><strong>@Html.GetLocalizedText(FlowsConstants.FlowsOrText)</strong></span>
    </div>
    <div class="col-11 conditions">
        <div class="row item-conditions">
            <div class="col-12 p-0">
                <div class="form-group row pt-2 pb-2 m-0">
                    <div class="col p-0" id="container-literals">
                        <partial model="Model" name="_LiteralCondition" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>