@using Group.Salto.ServiceLibrary.Common.Dtos.Base
@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Task
@using Group.Salto.SOM.Web.Extensions

@model BaseNameIdDto<int>

<div id="t-@Model.Id-Pre-Edit">
    <div id="t-@Model.Id-Pre-Lit" class="font-weight-bold">
    </div>

    <section id="t-@Model.Id-Pre-Values">
    </section>
</div>