@using Group.Salto.SOM.Web.Models.Task
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.ServiceLibrary.Common.Dtos.Base
@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Flows

@model BaseNameIdDto<int>
<div class="row conditions-row">
    <div class="col-12 postcondition-container" id="postconditionCollectionTemplate-@Model.Id">
        <div id="Preconditions-@Model.Id">
            <h3>@Html.GetLocalizedText(FlowsConstants.FlowsPreconditionsTitle)</h3>
            <partial model="Model" name="_PostPreconditionContainer" />
        </div>
        <div id="Postconditions-@Model.Id">
            <h3>@Html.GetLocalizedText(FlowsConstants.FlowsPostconditionsTitle)</h3>
            <partial model="Model" name="_PostconditionItems" />
        </div>
    </div>
</div>
