@using Group.Salto.ServiceLibrary.Common.Dtos.Base
@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Task
@using Group.Salto.SOM.Web.Extensions

@model BaseNameIdDto<int>
<div class="row conditions-row">
    <div class="col-12 mb-2" id="container-preconditions-@Model.Id" data-hasdata="false">
        <partial model="Model" name="_ConditionItem" />
    </div>
</div>