@using Group.Salto.SOM.Web.Models.Task
@using Group.Salto.SOM.Web.Models.Result

@model TasksListViewModel

<div class="row">
    <div class="col-12">
        <div class="accordion" id="accordionTask">
            @foreach (var task in Model.TasksListDictionary)
            {
                <div class="task">
                    <partial name="_TaskItem" model="@task" />
                </div>
            }
        </div>
    </div>
</div>
