@using Group.Salto.ServiceLibrary.Common.Dtos.Base
@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Task
@using Group.Salto.SOM.Web.Extensions

@model BaseNameIdDto<int>
<div class="row workorderderived-row">
    <div class="col-12 mb-2" id="container-workorderderived-@Model.Id" data-hasdata="false">
    </div>
</div>