@using Group.Salto.Common.Constants
@using Group.Salto.Common.Constants.Flows
@using Group.Salto.SOM.Web.Models.Flows
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.Result
@model ResultViewModel<FlowsViewModel>
@{
    var title = @Html.GetLocalizedText(FlowsConstants.FlowsCreatePageTitle);
    ViewData["Title"] = title;
}
@section Styles {
    <link href="~/css/task.css" rel="stylesheet" />
}
<div class="row justify-content-center">
    <div class="col-12 col-sm-9">
        <div class="card card-accent-info">
            <div class="card-header">
                <h2><span asp-localized-key="@FlowsConstants.FlowsCreatePageTitle"></span></h2>
            </div>
            <div class="card-body">
                <form asp-controller="Flows" asp-action="Create" method="post" class="form-horizontal">
                    <partial name="_FlowsForm" model="Model?.Data" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Bundle/Commons.js"></script>
}