@using Group.Salto.SOM.Web.Models.WorkOrderCategory
@using Group.Salto.Common.Constants.WorkOrderCategory
@using Group.Salto.SOM.Web.Extensions
@model GenericEditViewModel
<div class="row">
    <input asp-for="CategoryCalendarPreference" class="form-control" hidden />
    <input asp-for="ClientSiteCalendarPreference" class="form-control" hidden />
    <input asp-for="ProjectCalendarPreference" class="form-control" hidden />
    <input asp-for="SiteCalendarPreference" class="form-control" hidden />

    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label class="font-weight-bold"><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryAvailableCalendarsText"></span></label>
            <div id="data_container1"></div>
        </div>
    </div>

    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label class="font-weight-bold"><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryAppliedCalendarsText"></span></label>
            <div id="data_container2"></div>
        </div>
    </div>
</div>
<hr />
<div class="col-12">
    <div id="container">
        <div id="CalendarControlContainer"></div>
    </div>
</div>