@using Group.Salto.SOM.Web.Models.WorkOrderCategory
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.Common.Constants.WorkOrderCategory

@model GenericEditViewModel

<div class="row">
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryContactsBackOfficeText"></span></label>
            <input asp-for="BackOfficeResponsible" class="form-control" placeholder="@Html.GetLocalizedText(WorkOrderCategoryConstants.WOCategoryContactsBackOfficeText)" />
            <span asp-validation-for="BackOfficeResponsible" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12 col-sm-4">
        <div class="form-group">
            <label><span asp-localized-key="@WorkOrderCategoryConstants.WOCategoryContactsTechnicianText"></span></label>
            <input asp-for="TechnicalResponsible" class="form-control" placeholder="@Html.GetLocalizedText(WorkOrderCategoryConstants.WOCategoryContactsTechnicianText)" />
            <span asp-validation-for="TechnicalResponsible" class="text-danger"></span>
        </div>
    </div>
</div>