@using Group.Salto.SOM.Web.Models.WorkOrderCategory
@using Group.Salto.SOM.Web.Extensions
@model GenericEditViewModel

<div class="col-12">
    <div id="container">
        <div id="KnowLedgeContainer"></div>
    </div>
</div>