@using Group.Salto.Common.Constants
@using Group.Salto.SOM.Web.Extensions
@using Group.Salto.SOM.Web.Models.WorkOrderCategory
@using Group.Salto.SOM.Web.Models.MultiSelect
@using Group.Salto.Common.Constants.WorkOrderCategory
@model MultiSelectViewModel

<div class="col-12 col-sm-4">
    <h4><span asp-localized-key="@LocalizationsConstants.Permissions"></span></h4>
    <partial name="_MultiSelectControl" for="@Model" />
</div>